.body {
    margin: 1em;
    padding: 1em;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    width: 100%;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#result-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.result-header {
    text-align: center;
}

.boundary-box {
    border: 2px solid red;
    display: inline-block;
    padding: 5px 15px;
}

.result-box {
  
    display: flex;
    justify-content: center;
    margin-left: 200px;
    background-color: #06b640;
    margin-bottom: 25px;
}

.result-square {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.result-item {
    text-align: center;
    height: 20%;
    font-size: 24px;
    color: aliceblue;
}

#result-zero {
    
    width: 5%;
    padding: 106px;
    background-color: green;
}

#result-one {
    width: 5%;
    padding: 106px;
    background-color: rgb(134, 6, 6);
}


.result-interpretation {
    text-align: center;
}

#interpretation-text {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    width: 100%;
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#result-container {
    width: 80%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-header {
    text-align: center;
}

.boundary-box {
    border: 2px solid red;
    display: inline-block;
    padding: 5px 15px;
}

.result-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.result-square {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.result-item {
    text-align: center;
    height: 20%;
    font-size: 24px;
    color: aliceblue;
}

.result-interpretation {
    text-align: center;
}

#interpretation-text {
    font-size: 18px;
}




header {
    width: 100%;
    height: 20vh; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

h1 {
    font-size: 36px;
    color: #fff;
}

.welcome-text {
    text-align: center;
    padding: 2px;
    color: red;
}

.welcome-text p {
    font-size: 24px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #06b640; 
    color: #fff;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


#header-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* This maintains aspect ratio and centers the image */
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

/* Sabelo CSS */

html{
    width: 100%;
    height: 100%;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
.header{
    text-align: center;
    width: 100%;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
   

.header h1{
    margin-top: -150px;
    text-align: center;
    font-size: 40px;
}
.description p{
    color: red;
    letter-spacing: .05em;
    margin-top: 120px;
    padding:0 100px 0 100px ;
    font-size: 18px;
}
.h2 h2{
    text-align: center;
}
.buttons{
    text-align: center;
}

.buttons a{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: .5em;
    border-radius: .5em;
    border: 1px solid rgb(89, 216, 106);
    margin: 0 40px ;
}
.buttons a:hover{
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(1, 82, 12);
    padding: .5em;
    border-radius: .5em;
    border: 1px solid  green;
    margin: 0 40px ;
}
.form{
    margin-top: 20px;
}
.form input{
    height: 2em;
    border-radius: .3em;
    margin-left: 3em;
}
hr{
    background-color: rgb(136, 136, 136);
    margin-top: 20px;
}
h2{
    color: red;
}
.box{
    flex: 1;
    display: block;
}
.mt{
    margin-top: 130px;
}
.table{
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
table tr td{
    border: 1px solid rgb(245, 243, 243);
    color: rgb(0, 0, 0);
    font-size: 2em;
    font-weight: bold;
}
#zero{
    background-color: green;
    
}
#one{
    background-color: rgb(242, 255, 66);
    
}
#two{
    background-color: rgb(255, 187, 1);
    
}
#three{
    background-color: rgb(255, 103, 1);
    
}
#four{
    background-color: rgb(255, 31, 1);
    
}
/* Tshepo */

.grid-container {
    display: grid;
    column-gap: 50px;
    padding: 1em;
    margin: 1em;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 100;
}

.formElement {
    padding-bottom: 1em;
}

select {
    height: 1.7em;
}

/* HF style */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    width: 100%;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#result-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.result-header {
    text-align: center;
}

.boundary-box {
    border: 2px solid red;
    display: inline-block;
    padding: 5px 15px;
}

.result-box {
  
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 25px;
}

.result-square {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.result-item {
    text-align: center;
    height: 20%;
    font-size: 24px;
    color: aliceblue;
}

#result-zero {
    
    width: 5%;
    padding: 106px;
    background-color: green;
    
}
 
#result-onee {
    
    width: 5%;
    padding: 106px;
    background-color: rgb(231, 12, 12);
    
}




.result-interpretation {
    text-align: center;
}

#interpretation-text {
    font-size: 18px;
}


/* CAD result sty */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    width: 100%;
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#result-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-header {
    text-align: center;
}

.boundary-box {
    border: 2px solid red;
    display: inline-block;
    padding: 5px 15px;
}

.result-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 0ch;
}

.result-square {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.result-item {
    text-align: center;
    height: 20%;
    font-size: 24px;
    color: aliceblue;
}

#result-zero {
    width: 5%;
    padding: 106px;
    background-color: green;
}

#result-one {
    width: 30%;
    padding: 50px;
    background-color: yellow;
}

#result-two {
    width: 30%;
    padding: 50px;
    background-color: darkgoldenrod;
}

#result-three {
    width: 30%;
    padding: 50px;
    background-color: orange;
}

#result-four {
    width: 30%;
    padding: 50px;
    background-color: red;
}

.result-interpretation {
    text-align: center;
}

#interpretation-text {
    font-size: 18px;
}
/*Panel*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
  
#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color:  #06b640;
    background-color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: 7em;
    width: 15em;
    padding: 0.5em;
    border: #06b640 solid;
}

  /* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid blueviolet;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background-color: black;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.centre {
    text-align: center;
    position:static;
}
  
.cancelBtn {
    font-weight: bolder;
    font-size: x-large;
    border: solid;
    color: white;
    background-color:red;
    font-weight: bold;
    float: right;
    margin-top: 7.3em;
}

/* Navigation Bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    border: #06b640 solid;
    margin-right: 0.2em;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Heart Failure Results */
.positive {
    background-color: red;
}

.one {
    font-size: x-large;
    float: right;
}

.negative {
    background-color: green;
    height: 200px;
}

.zero {
    font-size: x-large;
    float: left;
}

.modelResult {
    margin-top: 20%;
    font-size: larger;
    text-align: left; 
}

.p1 {
    background-color: yellow;
    height: 200px;
}

.p2 {
    background-color: orange;
    height: 200px;
}

.p3 { 
    background-color: darkgoldenrod;
    height: 200px;
}

.p4 {
    background-color: red;
    height: 200px;
}

.row {
    margin-left: 1em;
    margin-right: 1em;
}

/* Menu */
.logoutBtn {
    border: solid #06b640;
    color: white;
    background-color: black;
    margin: 0.5em;
    margin-left: 0.2em;
    padding: 1em;
    height: 4em;

}

.homeBtn {
    border: solid #06b640;
    color: white;
    background-color: black;
    margin: 0.5em;
    margin-right: 0.1em;
    padding: 1em;
    height: 4em;

}

.footer {
    margin: 1em;
    padding: 1em;
    border: #06b640 solid;
    margin-bottom: 2em;
}
